* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    font-size: large;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

header {
    background-color: burlywood;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: left;
}

button {
    padding: 1rem 2rem;
    margin: 2rem 0;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: gray;
}