* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Document Styles */
:root {
    --primary-color: burlywood;
    --secondary-color: bisque;
    --border-color: #ccc;
}
html {
    background-color: var(--primary-color);
}


/* Navbar Styles */
nav {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    font-size: large;
}
nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}


/* Header Styles */
header {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
header .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 1rem;
}


/* Button Styles */
button {
    padding: 1rem 0;
    margin: 0;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: gray;
}


/* Main Body Styles */
main {
    background-color: white;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
main .container {
    margin: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
}
main .container .item {
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 8rem;
    border: .25rem solid black;
    border-radius: 1rem;
}
main .container .item p {
    text-align: center;
    padding-top: 8rem;
}


/* Main Quote Styles */
main .quote {
    margin: 2rem;
    padding: 2rem 4rem;
    border-radius: 1rem;
    background-color: lightgray;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}


main .quote .author {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}