* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Document Styles */
:root {
    --primary-color: #2a2438;
    --secondary-color: #5c5470;
    --border-color: #ccc;
}


/* Navbar Styles */
nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
nav .nav-logo {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}


/* Hero Styles */
.hero {
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
}
.hero .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hero .left h1, .hero .left p {
    text-align: left;
    color: white;
}


/* Button Styles */
button {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    width: 25%; /* 25% of parent container */
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: gray;
}


/* Main Styles */
main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Services Styles */
.services {
    margin: 4rem 0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services .container {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}
.services .container .item {
    width: 8rem;
    height: 8rem;
    border: .25rem solid black;
    border-radius: 1rem;
}
.services .container .item p {
    text-align: center;
    padding-top: 8rem;
}
.services h1 {
    padding: 2rem;
}


/* Quote Styles */
.quote {
    margin: 4rem 0;
    padding: 4rem;
    width: 80%;
    border-radius: 1rem;
    background-color: lightgray;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
}
.quote .author {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}


/* Footer Styles */
footer {
    margin-top: 4rem;
    padding: 0.5rem;
    background-color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    color: white;
}